.table-enter {
  background-color: yellow;
  transition: background-color 2s ease-in;
}

.table-enter.table-enter-active {
  background-color: white;
}

.pick-order-list .my-player {
  font-weight: bold;
}

.pick-order-list .current-player {
  background-color: yellow;
}

.player-details-table .score-used {
  font-weight: bold;
}

.player-details-table .missed-cut-text {
  display: none;
}

.player-details-table .missed-cut .missed-cut-text {
  display: initial;
}
