.active-draft {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas:
    "chooser chooser clock"
    "picklist picklist order"
    "chat chat chat"
    "hist hist hist";

  .app-paused-section {
    grid-area: app-paused-section;
  }
  .chooser-section {
    grid-area: chooser;
  }
  .draft-order-section {
    grid-area: order;
  }
  .draft-clock-section {
    grid-area: clock;
  }
  .pick-list-section {
    grid-area: picklist;
  }
  .chatroom-section {
    grid-area: chat;
  }
  .draft-history-section {
    grid-area: hist;
  }
}
