{
	"presets": [
			["env", {
				"loose": true,
				"useBuiltIns": true
			}],

			"react"
		],

	"plugins": [
	    ["transform-object-rest-spread",
	      {
	        "useBuiltIns": true
	      }
	    ]
	  ]
}
