<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Golf Pool</title>
    <link rel="stylesheet" type="text/css" href="{{cdnUrl}}/dist/bundle.css">

    <script>
      // BOOTSTRAP DATA
      //
      var sd = window.golfDraftSeed = {};
      sd.CDN_URL = '{{cdnUrl}}';

      sd.golfers = {{{golfers}}};
      sd.players = {{{players}}};
      sd.draft = {{{draft}}};
      sd.scores = {{{scores}}};
      sd.tourney = {{{tourney}}};
      sd.user = {{{or user "null"}}};

      [
        sd.golfers,
        sd.players,
        sd.scores,
        [sd.draft],
        [sd.tourney]
      ].forEach(function (mongoObjs) {
        mongoObjs.forEach(function (o) {
          o.id = o._id;
        });
      });
    </script>
  </head>
  <body>
    <section id="golfdraftapp" />
    <script src="{{cdnUrl}}/dist/bundle.js"></script>
  </body>
</html>
