var cfg = {
  prod: !process.env.DEBUG,

  mongo_url: process.env.MONGO_URI || "mongodb://gd:gd@127.0.0.1:27017/gd",
  redis_url: process.env.REDISTOGO_URL || "redis://:@127.0.0.1:6379/0",

  cdn_url: process.env.CDN_URL || '',

  // Unsafe not to hash. But who cares in this case? Matt Simon cares.
  admin_password: process.env.ADMIN_PASS || 'admin',

  tourney_cfg: process.env.TOURNEY_CFG || 'tourney_cfg.json'
};
cfg.debug = !cfg.prod;

if (cfg.debug) {
  console.log('CONFIG:');
  console.dir(cfg);
}

module.exports = cfg;
