.draft {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 300px;

  &.draft-active {
    grid-template-areas:
      "chooser chooser clock"
      "picklist picklist order"
      "chat chat chat"
      "hist hist hist";
  }

  &.draft-paused {
    grid-template-areas:
      "paused paused paused"
      "picklist picklist order"
      "chat chat chat"
      "hist hist hist";
  }

  .app-paused-section {
    grid-area: paused;
  }
  .chooser-section {
    grid-area: chooser;
  }
  .draft-order-section {
    grid-area: order;
  }
  .draft-clock-section {
    grid-area: clock;
  }
  .pick-list-section {
    grid-area: picklist;
  }
  .chatroom-section {
    grid-area: chat;
  }
  .draft-history-section {
    grid-area: hist;
  }

  @media only screen and (max-width: 920px) {
    grid-template-columns: 1fr;

    &.draft-active {
      grid-template-areas:
        "clock"
        "chooser"
        "chat"
        "order"
        "picklist"
        "hist" !important;
    }

    &.draft-paused {
      grid-template-areas:
        "paused"
        "chooser"
        "chat"
        "order"
        "picklist"
        "hist" !important;
    }
  }
}
